<% @radio_questions.each do |q| %>
  <%= q.title  %>
    <ol>
      <li><%= q.first_option %></li>
      <li><%= q.second_option %></li>
      <li><%= q.third_option %></li>
    </ol>
  <%= link_to 'Show', q %>
<% end %>
